@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Atma", system-ui;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #b6a9b6 0%, #bbdde0 100%);
}

@media screen and (min-width: 768px) {
  .carousel-item {
    width: 50%;
  }
}
